In [1]:
import pandas as pd

In [4]:
df1 = pd.read_csv("C:\\Users\\notof\\Downloads\\Chrome Downlaods\\Cars_24\\car_data.csv")

In [6]:
table = pd.concat([df1],axis = 0)  #table = pd.concat([df1,df2,df3],axis = 0)

In [7]:
table.columns

Index(['CAR_NAME', 'BRAND', 'SUB_BRAND', 'MODAL_YEAR', 'AMOUNT', 'FUEL_TYPE',
       'DIS_COVERED', 'EMI_AMOUNT', 'Operate'],
      dtype='object')

In [8]:
table

,CAR_NAME,BRAND,SUB_BRAND,MODAL_YEAR,AMOUNT,FUEL_TYPE,DIS_COVERED,EMI_AMOUNT,Operate
0,2020 Renault TRIBER RXT,Renault,TRIBER,2020,626000,PETROL,38414,"12,238",MANUAL
1,2018 Honda Amaze 1.2L I-VTEC S,Honda,Amaze,2018,573000,PETROL,30552,"11,193",MANUAL
2,2017 Mahindra XUV500 W6,Mahindra,XUV500,2017,996000,DIESEL,51377,"18,949",MANUAL
3,2021 Hyundai GRAND I10 NIOS SPORTZ AMT 1.2 KAP...,Hyundai,GRAND,2021,708000,PETROL,36554,"13,842",AUTOMATIC
4,2013 Maruti Swift VDI,Maruti,Swift,2013,444000,DIESEL,96413,"14,747",MANUAL
...,...,...,...,...,...,...,...,...,...
1211,2018 Maruti Baleno ALPHA PETROL 1.2,Maruti,Baleno,2018,669000,PETROL,52083,"13,079",MANUAL
1212,2018 Maruti Celerio ZXI,Maruti,Celerio,2018,463000,PETROL,19171,"9,052",MANUAL
1213,2016 Tata Tiago XZ PETROL,Tata,Tiago,2016,441000,PETROL,48738,"8,622",MANUAL
1214,2023 Tata PUNCH CREATIVE IRA AMT 1.2 RTN DUAL ...,Tata,PUNCH,2023,953999,PETROL,1848,"18,159",AUTOMATIC
1215,2017 Maruti Baleno ALPHA PETROL 1.2,Maruti,Baleno,2017,664000,PETROL,49591,"12,980",MANUAL

In [10]:
table.tail()

,CAR_NAME,BRAND,SUB_BRAND,MODAL_YEAR,AMOUNT,FUEL_TYPE,DIS_COVERED,EMI_AMOUNT,Operate
1211,2018 Maruti Baleno ALPHA PETROL 1.2,Maruti,Baleno,2018,669000,PETROL,52083,"13,079",MANUAL
1212,2018 Maruti Celerio ZXI,Maruti,Celerio,2018,463000,PETROL,19171,"9,052",MANUAL
1213,2016 Tata Tiago XZ PETROL,Tata,Tiago,2016,441000,PETROL,48738,"8,622",MANUAL
1214,2023 Tata PUNCH CREATIVE IRA AMT 1.2 RTN DUAL ...,Tata,PUNCH,2023,953999,PETROL,1848,"18,159",AUTOMATIC
1215,2017 Maruti Baleno ALPHA PETROL 1.2,Maruti,Baleno,2017,664000,PETROL,49591,"12,980",MANUAL

In [11]:
table.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1211    False
1212    False
1213    False
1214    False
1215    False
Length: 1216, dtype: bool

In [12]:
table.drop_duplicates(inplace = True)

In [13]:
print(table.duplicated().sum())

0

In [14]:
table.isnull().sum()

CAR_NAME       0
BRAND          0
SUB_BRAND      0
MODAL_YEAR     0
AMOUNT         0
FUEL_TYPE      0
DIS_COVERED    0
EMI_AMOUNT     0
Operate        0
dtype: int64

In [ ]:
#Now there is No any NuLL value in the data.